body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
}

/* HEADER */
header {
    background: #0d6efd;
    color: white;
    text-align: center;
    padding: 30px;
}

/* CONTAINER */
.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* SECTION */
.section {
    background: white;
    padding: 25px;
    margin-top: 20px;
    border-radius: 8px;
}

h2 {
    color: #0d6efd;
}

/* FORM */
input, select {
    width: 100%;
    padding: 10px;
    margin: 8px 0 15px;
}

button {
    width: 100%;
    padding: 12px;
    background: #198754;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

/* CHECKBOX */
.checkbox {
    display: flex;
    align-items: center;
    gap: 6px;
    margin-bottom: 15px;
}

.checkbox input {
    width: auto;
}

/* PENCERAMAH */
.penceramah {
    display: flex;
    gap: 20px;
    align-items: center;
}

.penceramah img {
    width: 150px;
    border-radius: 10px;
    border: 3px solid #0d6efd;
}

/* RESPONSIVE */
@media (max-width: 600px) {
    .penceramah {
        flex-direction: column;
        text-align: center;
    }
}
